section.section.activity#activity
  .container
    .row
      .col-md-12
        .activity__top.tp
          .activity__lay1
            img(src="img/activ_top.jpg",alt="activ_top")
          .activity__txt.tt
            h3.activity__title Чем занимается общество защиты прав потребителя?
            p.activity__text.
              Основным направлением деятельности Общества защиты прав потребителей является защита
               прав физических и юридических лиц, содействие при реализации прав потребителей на
                приобретение товаров (работ, услуг) надлежащего качества, на безопасность их для жизни
                 и здоровья, а также на получение информации о товарах (работах, услугах) и их
                  изготовителях (исполнителях, продавцах), на просвещение в области защиты прав потребителей.
            p.activity__text.
              Основным направлением деятельности Общества защиты прав потребителей является
               защита прав физических и юридических лиц, содействие при реализации прав потребителей
                на приобретение товаров (работ, услуг) надлежащего качества.
            .clear
    .row
      .col-md-12
        .activity__bottom
          .activity__txt.tb
            h3.activity__title Хотите вернуть деньги и получить двухкратную стоимость товара/услуг?
            p.activity__text.
              Нарушение прав потребителей на сегодняшний день довольно актуальная тема.
              Практически каждый день человек сталкивается с данной проблемой. Некоторые из-за
              правовой неграмотности вовсе не замечают, что их права нарушены, другие же просто
               не знают, как правильно себя защитить.
            p.activity__text.
              К сожалению, именно от того, что потребитель не обладает информацией о своих
              правах, возврат товара становится для него неосуществимой мечтой. Помните,
               владение информацией — это уже первый шаг к успеху. Вернуть бракованный товар
               либо вернуть деньги за невыполненные услуги возможно, и для этого достаточно четко
                знать законы Российской Федерации.<br> Звоните – мы знаем, как Вам помочь!
          .activity__lay2.tt
            img(src="img/activ_bottom.jpg",alt="activ_bottom")
          .clear
