section.section.cooperation#cooperation
  .container
    .cooperation__wrap
      .row
        .col-md-12
          h3.cooperation__title Тесное сотрудничество
      .row
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .cooperation__item
            .cooperation__img
              img(src="img/coop_img1.jpg", alt="coop_img")
            .cooperation__txt Прокуратура Российской Федерации
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .cooperation__item
            .cooperation__img
              img(src="img/coop_img2.jpg", alt="coop_img")
            .cooperation__txt.tt Федеральная Налоговая служба
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .cooperation__item
            .cooperation__img
              img(src="img/coop_img3.jpg", alt="coop_img")
            .cooperation__txt.tt Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .cooperation__item
            .cooperation__img
              img(src="img/coop_img4.jpg", alt="coop_img")
            .cooperation__txt Служба судебных приставов

