footer.footer#contacts
   .container
      .row
         .footer__flex
            .footer__left
               .footer__logo
                  a(href="/")
                     img(src="img/rf_herb_footer.png", alt="logo")
               .footer__txt
                  span.footer__logo_txt
                     | ОБЩЕСТВЕННАЯ ПРИЕМНАЯ ПО ЗАЩИТЕ ПРАВ ПОТРЕБИТЕЛЕЙ
                     | ПО МОСКВЕ И МОСКОВСКОЙ ОБЛАСТИ
                  span.footer__logo_txt_bottom
                     | Официальный сайт общества защиты прав
            .footer__right
               span.footer__hotline Получите бесплатную помощь
               span.footer__telnumb 8-800-987-65-43
               a(href="javascript:;", data-fancybox, data-src="#modal").footer__callback.js-callback Заказать обратный звонок

//modal windows section beginning
include modal
//modal windows section end


