//navigation beginning
ul.nav
   li.nav__item
      a.nav__link(href="#activity") ДЕЯТЕЛЬНОСТЬ
   li.nav__item
      a.nav__link(href="#treatments") ОБРАЩЕНИЯ
   li.nav__item
      a.nav__link(href="#cooperation") СОТРУДНИЧЕСТВО
   li.nav__item
      a.nav__link(href="#contacts") КОНТАКТЫ
//navigation end

