section.section.treatments#treatments
 .container
   .treatments__wrap
     .row
       .col-md-12
         h3.treatments__title Какие обращение рассмативаниет общество защиты прав
     .clear
     .row
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item
           .treatments__icon
           .treatments__txt Взыскание денежных средств за некачественный товар или услугу
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item
           .treatments__icon
           .treatments__txt Взыскание неустойки и расходов недобросовестного продавца или исполнителя
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item
           .treatments__icon
           .treatments__txt Взыскание денежных средств за навязанную страховку банком
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item
           .treatments__icon
           .treatments__txt Взыскание денежных средств за некачественные медницкие услуги
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item
           .treatments__icon
           .treatments__txt Взыскание денежных средств за некачественный товар или услугу
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item
           .treatments__icon
           .treatments__txt Споры со страховыми компаниями
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item.s
           .treatments__icon
           .treatments__txt Автоюрист
       .col-xs-6.col-sm-4.col-md-3.col-lg-3
         .treatments__item.e
           .treatments__icon
           .treatments__txt Мошенничество в сфере МФО и финансово-инвестиционных организаций
       .clear
     .row
       .col-md-12
        .treatments__button
          a(href="javascript:;", data-fancybox, data-src="#modal").treatments__btn.js-callback ПОДАТЬ ЖАЛОБУ
