extends includes/layout

block title
    title ОБЩЕСТВЕННАЯ ПРИЕМНАЯ ПО ЗАЩИТЕ ПРАВ ПОТРЕБИТЕЛЕЙ
        | ПО МОСКВЕ И МОСКОВСКОЙ ОБЛАСТИ

block content
    //header beginning
    include includes/header
    //header end

    //section forms beginning
    include includes/forms
    //section forms end

    //section activity beginning
    include includes/activity
    //section activity end

    //section treatments beginning
    include includes/treatments
    //section treatments end

    //section cooperation beginning
    include includes/cooperation
    //section cooperation end

    //footer beginning
    include includes/footer
    //footer end


